@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }

html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size : 1.3em;
	font-family: sans-serif;
	line-height: 1.3;
	background-color: #e2e2e2;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body{
	margin: 0;
}
h1{
  color: #000000;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 1.3rem;
   text-align: left;
	padding-top: 1em;
}

.button {
	background-color: #555;
  border-radius: 4px;
	padding: 0.5em 0.75em;
	color: white;
	width: 25%;
	text-align: center;
}

.img-flex{
  width:100%;
  display:block;
  padding-top: 1em;
}

p {
  font-style: normal;
  text-align: left;
  font-family:sans-serif;
  margin: 0 0 1.3rem;
  line-height: 100%;

}
@media only screen and (min-width: 38em){

html{
	font-size: 110%;
	line-height: 1.4;
}
.button{
	display: inline;
	color: white;
	position: absolute;
	top: .8em;
	right: .35em;
	left: 79%;
	width: auto;
	padding: 0.25em .75em;
	left: auto;
}

strong {
  font-family: sans-serif;
}

@media only screen and (min-width: 60em){

  header {
  width:30%;
  float: left;
  position: relative;
  }

  .button{
		display: block;
 position: relative;
 top: 1.35em;
 right: 1em;
 left: 79%;
 width: auto;
 padding: 0.25em .75em;
 left: auto;
}



*/style all the small screen stuff here*/

h3 + dt {
font-size: 1.2rem;
}

header{
	  background-color: #9a78b6;
		padding:1em;
}

main{
	background-color: #878fc7;
 padding: 1em;
}

@media only screen and (min-width: 60em){
html{
	font-size: 120%;
	line-height: 1.5;
}

@media only screen and (min-width: 90em){
	html{
		font-size: 150%;
		line-height: 1.5;
	}

	main{
		float: right;
		width: 70%;}
		footer {
			float: right;
			width: 70%;
		}
header {
	width:30%;
	float: left;
	position: fixed;
}

header nav a{
	display: inline;
	padding: .5em;
	text-align: left;
	float: none;
}
.top p{
	top: -8rem;
}
.top {
	padding: 2em 3.5em;
	margin: 0 ;
}

header img{
	width: 105px;
	position: absolute;
	text-align: center;
	left: calc(50% - 52.5px);
}
.top2{
	width: 100%;
}

.button{
display: block;
color: white;
position: relative;
top: .8em;
right: auto;
width: auto;
padding: 0.55em .95em;
}

header h1{
	display: inline-block;
	height: 4em;
	margin: 2em 0 0 0;
	margin-top: 2.35em;
}

header nav li {
margin-left: 5%;
}
}
