@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }

html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: sans-serif;
	background-color: #e2e2e2;
}
*, *::before, *::after{
	box-sizing: inherit;
}

h1{
  color: #000000;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 100%;
   text-align: left;
	padding-top: 1em;
}

.button {
	background-color: #555;
  border-radius: 4px;
	padding: 0.5em 0.75em;
	color: white;
	width: 40%;
	text-align: center;
}

.img-flex{
  width:100%;
  display:block;
  padding-top: 1em;
}

p {
  font-style: normal;
  text-align: left;
  font-family:sans-serif;
  margin: 0 0 1.3rem;
  line-height: 1.3;

}
@media only screen and (min-width: 38em){

strong {
  font-family: sans-serif;
  padding-bottom: 0.5em;
}

h1{
  color: #000000;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 1.4rem;
   text-align: left;
	padding-top: 1em;
}

.button {
	background-color: #555;
  border-radius: 4px;
	padding: 0.5em 0.75em;
	color: white;
	width: 25%;
	text-align: center;
}

.img-flex{
  width:50%;
  position: absolute;
  height: 100%;
  top:-195px;
  right:0.5em;
}

 p{
   padding: 1em 0;
   width:50%;
   position: absolute;
   height: 100%;
   top:0;
   left:0;
   line-height: 1.4;
 }

 .milli {
  font-style: normal;
  text-align: left;
  font-family:sans-serif;
  margin: 0 0 1.4rem;
  line-height: 110%;
  display: inline-block;
  position: relative;


 }

@media only screen and (min-width: 60em){

h1{
  color: #000000;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 1.5rem;
   text-align: left;
	padding-top: 1em;
}

.button {
	background-color: #555;
  border-radius: 4px;
	padding: 0.5em 0.75em;
	color: white;
	width: 15%;
	text-align: center;
}

.img-flex{
  width:50%;
  position: absolute;
  height: 100%;
  top:-195px;
  right:.3px;
}

 p{
   padding: 1em 0;
   width:50%;
   position: absolute;
   height: 100%;
   top:0;
   left:0;
   line-height:1.5;
 }

 .milli {
  font-style: normal;
  text-align: left;
  font-family:sans-serif;
  margin: 0 0 1.4rem;
  line-height: 110%;
  display: inline-block;
  position: relative;


 }

@media only screen and (min-width: 90em){
  h1{
    color: #000000;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 130%;
     text-align: left;
  }

  .button {
  	background-color: #555;
    border-radius: 4px;
  	padding: 0.5em 0.75em;
  	color: white;
  	width: 10%;
  	text-align: center;
  }

  .img-flex{
    width:40%;
    position: absolute;
    height: 100%;
    bottom:-195px;
    right:45px;
  }

   p{
     padding: 1em 0;
     width:50%;
     position: absolute;
     height: 100%;
     top:0;
     left:0;
     line-height:1.5;
   }

   .milli {
    font-style: normal;
    text-align: left;
    font-family:sans-serif;
    margin: 0 0 1.4rem;
    line-height: 1.5;
    display: inline-block;
    position: relative;


   }
